apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "k6-load.fullname" . }}
  labels:
    {{- include "k6-load.labels" . | nindent 4 }}
data:
  load.js: |
    import http from 'k6/http';
    import { check, sleep } from 'k6';

    const targets = [
    {{- range $i, $t := .Values.targets }}
      "{{ $t }}",
    {{- end }}
    ];

    export const options = {
      vus: parseInt(__ENV.K6_VUS || "{{ .Values.load.vus }}", 10),
      duration: __ENV.K6_DURATION || "{{ .Values.load.duration }}",
    };

    const sleepSeconds = parseFloat(__ENV.K6_SLEEP || "{{ .Values.load.sleepSeconds }}") || 1;

    export default function () {
      const target = targets[Math.floor(Math.random() * targets.length)];

      const res = http.get(`${target}/`);
      check(res, {
        'status is 200': (r) => r.status === 200,
      });

      http.get(`${target}/health`);
      sleep(sleepSeconds);
    }
