apiVersion: v1
kind: Service
metadata:
  name: mail
spec:
  selector:
    app: mail
  ports:
    - name: smtp
      protocol: TCP
      port: 1025
      targetPort: 1025
    - name: ui
      protocol: TCP
      port: 8025
      targetPort: 8025
  type: ClusterIP
