{{- $ns := .Values.grafana.namespace | default .Release.Namespace -}}
{{- $instanceLabel := .Values.grafana.labels.grafana | default "primary" -}}
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: {{ .Values.grafana.name | default "grafana" }}
  namespace: {{ $ns }}
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/instance: {{ .Release.Name }}
    grafana: {{ $instanceLabel | quote }}
    {{- range $k, $v := .Values.grafana.labels }}
    {{- if ne $k "grafana" }}
    {{ $k }}: {{ $v | quote }}
    {{- end }}
    {{- end }}
spec:
  version: {{ .Values.grafana.version }}
  config:
    security:
      admin_user: {{ .Values.grafana.adminUser | quote }}
      admin_password: {{ .Values.grafana.adminPassword | quote }}
    {{- if .Values.grafana.smtp.enabled }}
    smtp:
      enabled: {{ default false .Values.grafana.smtp.enabled | quote }}
      host: {{ .Values.grafana.smtp.host | quote }}
      {{- if .Values.grafana.smtp.fromAddress }}
      from_address: {{ .Values.grafana.smtp.fromAddress | quote }}
      {{- end }}
      {{- if .Values.grafana.smtp.fromName }}
      from_name: {{ .Values.grafana.smtp.fromName | quote }}
      {{- end }}
      skip_verify: {{ default false .Values.grafana.smtp.skipVerify | quote }}
    {{- end }}
    {{- if .Values.grafana.alerting.emailTo }}
    unified_alerting:
      enabled: "true"
      alertmanager_config: |
        route:
          receiver: "mailpit-default"
        receivers:
          - name: "mailpit-default"
            email_configs:
              - to: "{{ .Values.grafana.alerting.emailTo }}"
    {{- end }}
  service:
    spec:
      type: {{ .Values.grafana.service.type | default "ClusterIP" }}
  {{- if .Values.grafana.persistence.enabled }}
  persistentVolumeClaim:
    spec:
      resources:
        requests:
          storage: {{ .Values.grafana.persistence.size }}
      accessModes:
        - ReadWriteOnce
  deployment:
    spec:
      template:
        spec:
          containers:
            - name: grafana
              securityContext:
                allowPrivilegeEscalation: true
                readOnlyRootFilesystem: false
          volumes:
            - name: grafana-data
              persistentVolumeClaim:
                claimName: grafana-pvc
  {{- end }}
  ingress:
    spec:
      ingressClassName: nginx
      rules:
      - host: grafana.local
        http:
          paths:
            - path: /
              pathType: Prefix
              backend:
                service:
                  name: grafana-service
                  port:
                    number: 3000
