doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Observabilité Kubernetes : la stack Grafana en pratique

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck

      section.intro
        h1 Observabilité Kubernetes
        h2 La stack Grafana en pratique
        img(src="images/intro/observe-and-monitor.jpg", alt="Intro meme", style="max-width: 40%; height: auto;")

      section.speaker
        img.avatar(src='images/intro/bastien.jpg', alt='Bastien Chalier')
        h2 Bastien Chalier
        p Platform Engineer
        p
          | Co-fondateur de
          img.inline-logo(src='images/intro/fransys.svg', alt='Fransys')

      section.why-what
        h1 Pourquoi observer ? 
        h1 Observer quoi ?
        h2 Comprendre avant d'appliquer

      section.purpose
        h2 Pourquoi observer ? 
        ul.build-items
          li Monitoring: détecter les anomalies
          li Investigation: comprendre les causes
          li Détails: expliquer l'impact

      section.what-tools
        h2 Quoi observer ?
        ul.build-items
          li Metrics pour monitoring
          li Traces pour investiguer
          li Logs pour détails précis

      section.where
        h2 Où observer ?
        ul.build-items
          li.kube Kubernetes
          li VM
          li Edge
          li SaaS
        p.focus-note.build(data-focus='kube') Focus sur Kubernetes pour cette session

      section
        h1 Mais avec quoi ?

      section
        h1 Un vaste ecosystème
        img(src="images/intro/observability_landscape_all.png", alt="Observability landscape", style="max-width: 100%; height: auto;")

      section
        h1 Avec les clouders
        img(src="images/intro/observability_landscape_clouders.png", alt="Observability clouders", style="max-width: 100%; height: auto;")

      section
        h1 Les SaaS
        img(src="images/intro/observability_landscape_saas.png", alt="Observability SaaS", style="max-width: 100%; height: auto;")

      section
        h1 Les anciens
        img(src="images/intro/observability_landscape_old.png", alt="Observability anciens", style="max-width: 100%; height: auto;")

      section
        h1 Les spécialistes
        img(src="images/intro/observability_landscape_specialized.png", alt="Observability spécialites", style="max-width: 100%; height: auto;")

      section
        h1 L'Open source
        img(src="images/intro/observability_landscape_oss.png", alt="Observability OSS", style="max-width: 100%; height: auto;")

      section
        h1 Grafana Stack
        .history-logos
          img(src="images/history/grafana.svg", alt="Grafana")
          img(src="images/history/mimir.svg", alt="Mimir")
          img(src="images/history/loki.svg", alt="Loki")
          img(src="images/history/tempo.svg", alt="Tempo")
          
      section
        h2 2013 - Grafana
        ul.build-items
          li Kibana fork for metrics
          li Focus on UI
          li Backend agnostic
          
      section
        h2 2016 - Cortex
        ul.build-items
          li Multi-tenant
          li Scalable - HA
          li Long-term storage
          
      section
        h2 2018 - Loki
        ul.build-items
          li 1 Po logs/jour
          li Indexer uniquement les labels
          li 75% moins cher
          
      section
        h2 2020 - Tempo
        ul.build-items
          li 2m spans/s
          li Integration avec metrics/logs
          li Conserver 100% des spans
          
      section
        h2 2022 - Mimir
        ul.build-items
          li 1M de séries
          li Sortie de prometheus
          li + performance - resources
          
      section.timeline
        img(src="images/history/timeline.svg", alt="Timeline", style="max-width: 100%; height: auto;")

      section
        h2 Demo time !
        img(src="images/setup/investigate_meme.jpg", alt="Timeline", style="max-width: 100%; height: auto;")

      section
        h2 Commençons par les prérequis
        ul.build-items
          li operateur grafana
          li mailpit
          li operateur minio
          li une pool minio

      section.code-helmfile
        h2 Helmfile
        pre.language-yaml
          code.
            repositories:
              - name: a-repo
                [...]

            releases:
              - name: a-helm-release
                [...]
              - name: another-helm-release
                [...]

      section.code-helmfile
        h2 Repositories
        pre.language-yaml
          code.
            repositories:
              - name: grafana
                url: https://grafana.github.io/helm-charts
              - name: minio
                url: https://operator.min.io

      section.code-helmfile
        h2 Grafana operator
        pre.language-yaml
          code.
            releases:
              - name: grafana-operator
                namespace: default
                chart: grafana/grafana-operator
                version: v5.20.0
                values:
                  - values/grafana-operator.yaml

      section.code-helmfile
        h2 Mailpit
        pre.language-yaml
          code.
              - name: mail
                namespace: default
                chart: ./charts/mail

      section.code-helmfile
        h2 Minio operator
        pre.language-yaml
          code.
              - name: minio-operator
                namespace: default
                chart: minio/operator
                version: 7.1.1
                wait: true

      section.code-helmfile
        h2 Minio pool
        pre.language-yaml
          code.
            - name: minio
              needs:
                - default/minio-operator
              namespace: default
              chart: minio/tenant
              version: 7.1.1
              values:
                - values/minio.yaml
              wait: true

      section.code-helmfile
        h2 Minio values
        pre.language-yaml
          code.
            tenant:
              name: grafana-stack
              certificate:
                requestAutoCert: false
              buckets:
                - name: mimir-blocks
                - name: mimir-ruler
                - name: loki-chunks
                - name: loki-rules
                - name: loki-admin
                - name: tempo

      section.k9s-output
        pre.language-bash.terminal
          code.
            NAME                                READY   STATUS
            grafana-operator-79774f8757-f7vwr   1/1     Running
            grafana-stack-pool-0-0              2/2     Running
            grafana-stack-pool-0-1              2/2     Running
            grafana-stack-pool-0-2              2/2     Running
            grafana-stack-pool-0-3              2/2     Running
            mail-759494567f-ck4x4               1/1     Running
            minio-operator-57b9ccf48c-46slt     1/1     Running
            minio-operator-57b9ccf48c-hp6n8     1/1     Running

      section.code-helmfile
        h2 Grafana
        pre.language-yaml
          code.
            - name: grafana-instance
              needs:
                - default/grafana-operator
              namespace: default
              chart: ./charts/grafana-instance
              version: 0.1.0
              values:
                - values/grafana-instance.yaml

      section.k9s-output
        pre.language-bash.terminal
          code.
            NAME                                  READY   STATUS
            grafana-deployment-756587d5f8-n5c6d   1/1     Running     

      section.code-helmfile
        h2 Mimir
        pre.language-yaml
          code.
            - name: mimir
              needs:
                - default/minio
              namespace: mimir
              chart: grafana/mimir-distributed
              version: 6.0.3
              values:
                - values/mimir.yaml

      section.k9s-output
        pre.language-bash.terminal
          code.
            NAME                                        READY   STATUS
            mimir-compactor-0                           1/1     Running
            mimir-distributor-5dd6f556d8-s9rtz          1/1     Running
            mimir-gateway-6bfc8f6887-bs2rt              1/1     Running
            mimir-ingester-zone-a-0                     1/1     Running
            mimir-ingester-zone-b-0                     1/1     Running
            mimir-ingester-zone-c-0                     1/1     Running
            mimir-kafka-0                               1/1     Running
            mimir-overrides-exporter-7f6f9c6c76-2c8t4   1/1     Running
            mimir-querier-6b675f579-h9t7k               1/1     Running
            mimir-querier-6b675f579-rptdf               1/1     Running
            mimir-query-frontend-6f86c58478-gs5wz       1/1     Running
            mimir-query-scheduler-7bdc8bc45f-9x694      1/1     Running
            mimir-query-scheduler-7bdc8bc45f-dprd6      1/1     Running
            mimir-rollout-operator-77fc876f57-79p26     1/1     Running
            mimir-ruler-6785c8f9d4-92rqp                1/1     Running
            mimir-store-gateway-zone-a-0                1/1     Running
            mimir-store-gateway-zone-b-0                1/1     Running
            mimir-store-gateway-zone-c-0                1/1     Running 

      section.code-helmfile
        h2 Loki
        pre.language-yaml
          code.
            - name: loki
              needs:
                - default/minio
              namespace: loki
              chart: grafana/loki
              version: 6.46.0
              values:
                - values/loki.yaml

      section.k9s-output
        pre.language-bash.terminal
          code.
            NAME                                   READY   STATUS
            loki-canary-kn8hs                      1/1     Running
            loki-canary-stzrn                      1/1     Running
            loki-canary-tbx4p                      1/1     Running
            loki-chunks-cache-0                    2/2     Running
            loki-compactor-0                       1/1     Running
            loki-distributor-59f6d9c9f5-8g2sc      1/1     Running
            loki-gateway-cd5f9979f-nv82q           1/1     Running
            loki-index-gateway-0                   1/1     Running
            loki-ingester-zone-a-0                 1/1     Running
            loki-ingester-zone-b-0                 1/1     Running
            loki-ingester-zone-c-0                 1/1     Running
            loki-querier-7596b5d5d7-hjhx9          1/1     Running
            loki-query-frontend-8d9687d44-wxds6    1/1     Running
            loki-query-scheduler-54dd5cc68-wk6q4   1/1     Running
            loki-results-cache-0                   2/2     Running

      section.code-helmfile
        h2 Tempo
        pre.language-yaml
          code.
            - name: tempo
              needs:
                - default/minio
              namespace: tempo
              chart: grafana/tempo-distributed
              version: 1.56.2
              values:
                - values/tempo.yaml

      section.k9s-output
        pre.language-bash.terminal
          code.
            NAME                                       READY   STATUS
            tempo-compactor-757578f8b8-xg72q           1/1     Running
            tempo-distributor-5d9dff58c8-5nr5h         1/1     Running
            tempo-gateway-556fd4994d-ns4zg             1/1     Running
            tempo-ingester-0                           1/1     Running
            tempo-ingester-1                           1/1     Running
            tempo-ingester-2                           1/1     Running
            tempo-memcached-0                          1/1     Running
            tempo-metrics-generator-5d57477cf4-ql2cw   1/1     Running
            tempo-querier-6f7468cc5f-47tjn             1/1     Running
            tempo-query-frontend-69d6f694b-pz9pz       1/1     Running

      section.code-helmfile
        h2 Alloy
        pre.language-yaml
          code.
            - name: alloy
              namespace: default
              chart: grafana/alloy
              version: 1.4.0
              values:
                - values/alloy.yaml

      section.k9s-output
        pre.language-bash.terminal
          code.
            NAME                                  READY   STATUS
            alloy-5pfx8                           2/2     Running
            alloy-z46v2                           2/2     Running
            alloy-ztpxx                           2/2     Running

      section.code-helmfile
        h2 Applications
        pre.language-yaml
          code.
            - name: app-1
              namespace: app
              chart: ./charts/app
              version: 0.1.0
              values:
                - values/app-1.yaml

            - name: app-2
              namespace: app
              chart: ./charts/app
              version: 0.1.0
              values:
                - values/app-2.yaml

      section.k9s-output
        pre.language-bash.terminal
          code.
            NAME                        READY   STATUS
            app-1-app-dcf6fdcb-7kws8    1/1     Running
            app-1-app-dcf6fdcb-pr97c    1/1     Running
            app-1-app-dcf6fdcb-v2pd2    1/1     Running
            app-2-app-5b878bcd8-6mbzh   1/1     Running
            app-2-app-5b878bcd8-phxv8   1/1     Running
            app-2-app-5b878bcd8-x9zj9   1/1     Running

      section.code-helmfile
        h2 K6
        pre.language-yaml
          code.
            - name: k6-load
              namespace: app
              chart: ./charts/k6-load
              version: 0.1.0
              values:
                - values/k6-load.yaml

      section
        h2 Architecture
        img(src="images/setup/grafana_stack.png", alt="Grafana stack", style="max-width: 100%; height: auto;")
          
      section
        h1 Demo
        h2 http://grafana.local - http://mail.local
        h2 admin
        h2 8MBxR5x3mL0ZqH2t

      section.full-bleed
        img(src="images/costs/cat_meme.jpg", alt="Accounting love")

      section
        h2 Considérations
        ul.build-items
          li Prix publics
          li Logs uniquement
          li Simplifications

      // --------------------
      // Pricing models – Datadog
      // --------------------
      section.slide
        h2 Datadog Logs
        ul
          li Prix par GB ingéré
          li Prix par événement indexé
          li Archive DIY

      section.slide
        h2 Datadog – Ingestion
        ul
          li ≈ $0.10 par GB
          li 100% des logs

      section.slide
        h2 Datadog – Indexation
        ul
          li Prix par million d'événements
          li 30j retention ≈ $2.50 par 1M événements
          li 100% et 10% d'index

      section.slide
        h2 Hypothèses
        ul
          li ≈ 1 kB par événement
          li 1 GB logs ≈ 1M événements
          li 100% indexé, 30d ≈ $2.60/GB
          li 10% indexé, 30d ≈ $0.36/GB

      // --------------------
      // Modèle de prix – Grafana Cloud
      // --------------------
      section.slide
        h2 Grafana Cloud Logs (Loki)
        ul
          li Prix par Go ingéré
          li Rétention 30 jours incluse
          li 100% indexé

      section.slide
        h2 Grafana Cloud – Chiffres
        ul
          li Abonnement : 19 $/mois
          li Inclut 50 Go/mois
          li ≈ 0,50 $ par Go ingéré

      // --------------------
      // Modèle de prix – Loki auto-hébergé
      // --------------------
      section.slide
        h2 Loki auto-hébergé
        ul
          li Loki sur Kubernetes
          li Stockage objet
          li Gestion interne

      section.slide
        h2 Loki auto-hébergé – coûts
        ul
          li Stockage objet
          li Compute
          li Réseau
          li Humains

      section.slide
        h2 Loki auto-hébergé – Chiffres
        ul
          li Basé sur GCP
          li Avec 3 humains
          li ≈ 0,15 $ par Go ingéré

      section.slide
        h2 Récap
        table
          thead
            tr
              th Offre
              th Coût estimé / Go
          tbody
            tr
              td Datadog
              td $2.60/Go (≈ $0.36/Go pour 10%)
            tr
              td Grafana Cloud
              td $0.50/Go
            tr
              td Loki sur GCP
              td $0.15/Go

      // --------------------
      // Scénario 1 – 50 Go/jour
      // --------------------
      section.slide
        h2 Scénario 1 - Paramètres
        table
          thead
            tr
              th Paramètre
              th Valeur
          tbody
            tr
              td Volume journalier
              td 50 Go/jour
            tr
              td Volume mensuel
              td ≈ 1,5 To/mois (1 500 Go)
            tr
              td Rétention
              td 30 jours

      section.slide
        h2 Scénario 1 – Datadog (100%)
        table
          thead
            tr
              th Poste
              th Montant estimé
          tbody
            tr
              td Ingestion
              td 1 500 × 0,10 $ ≈ 150 $
            tr
              td Indexation (30 j)
              td 1 500 × 2,50 $ ≈ 3 750 $
            tr
              td Total
              td ≈ 3 900 $/mois
        p.small Tous les logs sont interrogeables

      section.slide
        h2 Scénario 1 – Datadog (10%)
        table
          thead
            tr
              th Poste
              th Montant estimé
          tbody
            tr
              td Ingestion
              td 1 500 × 0,10 $ ≈ 150 $
            tr
              td Indexation (10 % des logs)
              td 150 × 2,50 $ ≈ 375 $
            tr
              td Total
              td ≈ 525 $/mois
        p.small ≈ 10 % des logs sont interrogeables

      section.slide
        h2 Scénario 1 – Grafana Cloud Logs
        table
          thead
            tr
              th Poste
              th Montant estimé
          tbody
            tr
              td Volume facturé
              td ≈ 1 450 Go × 0,50 $ ≈ 725 $
            tr
              td Frais de plateforme
              td ≈ 19 $
            tr
              td Total
              td ≈ 744 $/mois
        p.small Tous les logs sont interrogeables

      section.slide
        h2 Scénario 1 – Loki auto-hébergé
        table
          thead
            tr
              th Poste
              th Montant estimé
          tbody
            tr
              td Infra
              td 1 500 Go × 0,10 $ ≈ 150 $
            tr
              td Humains
              td 1 x 10 000 $
            tr
              td Total
              td ≈ 10 150 $/mois
        p.small Coût cloud minimal, effort ops élevé

      section.slide
        h2 Scénario 1 – Conclusion
        table
          tbody
            tr
              td Datadog 100%
              td 3 900 $/mois
            tr
              td Datadog 10%
              td 525 $/mois
            tr
              td Grafana Cloud
              td 744 $/mois
            tr
              td Auto hebergé
              td 10 150 $/mois

      // --------------------
      // Scénario 2 – 20 To/jour (tableaux)
      // --------------------
      section.slide
        h2 Scénario 2
        table
          thead
            tr
              th Paramètre
              th Valeur
          tbody
            tr
              td Volume journalier
              td 20 To/jour
            tr
              td Volume mensuel
              td ≈ 600 To/mois
            tr
              td Rétention
              td 30 jours

      section.slide
        h2 Scénario 2 – Datadog (100%)
        table
          thead
            tr
              th Poste
              th Montant estimé
          tbody
            tr
              td Ingestion
              td 600 000 × 0,10 $ ≈ 60 k$
            tr
              td Indexation (30 j)
              td 600 000 × 2,50 $ ≈ 1,5 M$
            tr
              td Total
              td ≈ 1,56 M$/mois
        p.small Il y a de beaux chateaux à ce prix là

      section.slide
        h2 Scénario 2 – Datadog (10%)
        table
          thead
            tr
              th Poste
              th Montant estimé
          tbody
            tr
              td Ingestion
              td 600 000 × 0,10 $ ≈ 60 k$
            tr
              td Indexation (10 % des logs)
              td 60 000 × 2,50 $ ≈ 150 k$
            tr
              td Total
              td ≈ 210 k$/mois
        p.small ≈ Mieux, mais seulement 10% des logs

      section.slide
        h2 Scénario 2 – Grafana Cloud Logs
        table
          thead
            tr
              th Poste
              th Montant estimé
          tbody
            tr
              td Logs ingérés
              td 600 000 Go × 0,50 $
            tr
              td Total
              td ≈ 300 000 $/mois
        p.small Les frais de plateforme sont négligées à ce niveau

      section.slide
        h2 Scénario 2 – Loki auto-hébergé
        table
          thead
            tr
              th Poste
              th Montant estimé
          tbody
            tr
              td Infra
              td 600 000 Go × 0,10 $ ≈ 60 000 $
            tr
              td Humains
              td 3 x 30 000 $
            tr
              td Total
              td ≈ 90 000 $/mois
        p.small Reste largement en dessous des prix SaaS catalogue

      section.slide
        h2 Scénario 2 – Conclusion
        table
          tbody
            tr
              td Datadog 100%
              td 1,56 M$/mois
            tr
              td Datadog 10%
              td 210 k$/mois
            tr
              td Grafana Cloud
              td 300 k$/mois
            tr
              td Auto hebergé
              td 90 k$/mois

      // --------------------
      // Conclusion
      // --------------------
      section.slide
        h1 Conclusion
     
      section.slide
        h2 Datadog
          ul
            li Prêt à l’emploi
            li Meilleure UX
            li Plus cher
     
      section.slide
        h2 Grafana + Loki
          ul
            li DIY, maintenance importante
            li Modulaire, mais parfois difficile d'utilisation
            li Coûts plus maitrisés

      section.slide
        h2 Message final
        ul.build-items
          li Ne loggez pas tout
          li Ajuster la retention
          li Contrôlez la cardinalité
          li Standardisez

      section.full-bleed
        img(src="images/conclusion/alerts_cat.jpg", alt="It's accounting's problem now")

      section.slide
        h2 Merci ! Questions ?
        h3 https://github.com/bchalier/talk-grafana-stack
          
    script(src='build/build.js')
